:root {
    --primaryColor: #2D2D2D;
    --primaryVarColor: #1E2C2A;
    --secondaryColor: #FFFFFF;
    --hoverColor: #FF6250;
    --hoverBtnColor: #8FFFEC;
    --primaryFont: "Epilogue";
}



/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--primaryFont), sans-serif;
    color: var(--primaryColor);
}



/* Header Section */



.container {
    display: flex;
    width: 1280px;
    margin: auto;
}

.section__header {
    display: flex;
    justify-content: space-between;
    height: 78px;
    margin-top: 24px;
}

.section__header--logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.section__header--navigation {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
    font-size: 17px;
    font-weight: 400;
}

.section__header--navigation a {
    text-decoration: none;
    color: var(--primaryColor);
}

.section__header--navigation a:hover {
    color: var(--hoverColor);
}



/* Main Section */

.section__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
}

.section__main--left {
    display: flex;
    flex-direction: column;
    flex-basis: 53%;
    margin-left: 48px;
    height: 328px;
}

.section__main--header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section__main--subTitle {
    font-weight: 600;
    font-size: 20px;
}

.section__main--mainTitle {
    font-weight: 600;
    font-size: 68px;
}

.section__main--description {
    font-weight: 400;
    font-size: 17px;
}

.section__main--button {
    padding: 28px 64px;
    background-color: var(--primaryColor);
    width: 211px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: var(--secondaryColor);
    margin-top: 50px;
}

.section__main--button:hover {
    color: var(--hoverBtnColor);
    background-color: var(--primaryVarColor);
}

.section__main--right {
    display: flex;
    justify-content: center;
    flex-basis: 47%;
    height: 360px;
}

.section__main--image {

}



/* Footer Section */

.section__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 42px 68px;
}

.section__footer img {
    width: initial;
}

.icon-Google {
    height: 38px;
}

.icon-Nike {
    height: 31px;
}

.icon-Samsung {
    height: 17px;
}

.icon-Apple {
    height: 47px;
}

.icon-Adidas {
    height: 44px;
}

